@import url('https://fonts.googleapis.com/css2?family=Bagel+Fat+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Old+Sogdian&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap');

html { scroll-behavior: smooth; }

:root {
    --bagel: "Bagel Fat One", system-ui;
    --dosis: "Dosis", sans-serif;

    --primary: #e798a8;
    --secondary: #db7e66;

    --font-color: #030c04;
    --light-font-color: #3a3a3a;
    --bg-color: #f3fcf6;

    --section-bg: #EEE;
    --section-primary: #ddd;

    --darkBtn: transparent;
    --lightBtn: var(--section-bg);
}

.dark-mode {
    --primary: #1a7f66;
    --secondary: #21a19a;

    --font-color: #f3fcf4;
    --light-font-color: #d3dbd4;
    --bg-color: #030c06;

    --section-bg: #101813;
    /* --section-primary: #28302b; */

    nav .colorMode .sun { display: block; }
    nav .colorMode .moon { display: none; }
}

.english {
    nav ul .norwegian { display: block; }
    nav ul .english { display: none; }

    .readmore { display: none; }
    .readmoreEng { display: block !important; }
}

body:has(#google_translate_element) {
    .VIpgJd-ZVi9od-ORHb-OEVmcd {
        display: none;
        position: absolute;                 
    } .VIpgJd-yAWNEb-VIpgJd-fmcmS-sn54Q {
        background: transparent !important;
        box-shadow: none !important;        
    } #goog-gt-tt {
        opacity: 0;
        visibility: hidden;
    } #google_translate_element, .skiptranslate  {
        position: absolute;
        left: -100vw;
    }
    
    font {
        font-family: inherit !important;
        font-weight: inherit !important;
    }
}

footer {
    background: var(--section-bg);
    border-radius: 0 !important;
    box-shadow: 0 0 40px #00000030;
    width: 100vw;
    margin-top: 80px !important;

    display: flex;
    flex-direction: column;
    align-items: center;

    .some {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 50px;
        padding: 35px 20px;
        width: 100%;
        border-bottom: solid 4px var(--section-primary);

        a {
            height: 50px;
            width: 50px;
            padding: 15px;
            font-size: 50px;
            border-radius: 15px;
            display: flex;
            justify-content: center;
            transition: 400ms;
            box-shadow: 0 0 0px #00000010;

            img {
                border-radius: 0;
            }
        }
    }

    .main {
        max-width: 1400px;
        padding: 50px 20px;
        width: calc(100% - 50px);
        display: flex;
        justify-content: space-between;
        border-bottom: solid 4px var(--section-primary);
        border-radius: 0 !important;

        .name {
            display: flex;
            align-items: center;
            gap: 15px;

            img {
                height: 120px;
                border-radius: 0;
            }

            h2 {
                font-size: 50px;
                font-weight: 800;
            }
        }
        .pages {
            display: flex;
            flex-direction: column;

            h2 {
                font-size: 32px;
                font-weight: 600;
                margin-bottom: 10px;
            }

            a {
                font-size: 20px;
                font-weight: 400;
            }
        }
    }

    .copyright {
        padding: 20px 20px;
        text-align: center;
    }
}

nav {
    position: relative;
    width: calc(100% - 100px);
    height: fit-content;
    padding: 20px 50px;
    background: var(--section-bg);
    border-radius: 9em !important;

    display: flex;
    justify-content: space-between;
    align-items: center;

    img {
        height: 40px;
        border-radius: 0 !important;
    }
    
    ul {
        display: flex;
        align-items: center;
        gap: 15px;
        
        img { border-radius: 5px !important; }
        .norwegian { display: none; }
    }
}

body {
    overflow-x: hidden;
    top: 0 !important;
    position: relative;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 35px;
    padding-bottom: 0;
    gap: 35px;
    
    color: var(--font-color);
    background: var(--bg-color);

    :not(.background) {
        transition: 400ms;
        transition-delay: 0ms;
        font-family: "Work Sans", serif;
        font-weight: 400;
        margin: 0;
        text-decoration: none;
        border-radius: 25px;
    }

    h1, h2, h3, h4, h5, h6 {
        font-family: var(--bagel);
        font-weight: 600;
    }

    .text-image, .image-text {
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 70px;
        width: 100%;

        &.text-image { flex-direction: row-reverse; }

        > * {
            width: 100%;
            position: relative;
        }

        div:has(> img, > iframe) {
            display: flex;
            justify-content: center;

            img {
                width: 100%;
                height: auto;
            }
            iframe { width: 100%; }
        }
    
        div:has(> h2) {
            h2 {
                font-size: 50px;
                font-weight: 600;
                margin-bottom: 25px;
            }

            p {
                font-size: 22px;
                color: var(--light-font-color);
            }

            padding-top: 15px;

            b { color: var(--font-color); }
    
            .btn1, .btn2 {
                font-size: 24px;
                display: inline-block;
            }
        }
    }

    article > h1 {
        color: #e7f0e8;
    }

    .thinBorder {
        position: relative;
        overflow: hidden;
        border: solid 1px var(--bg-color);

        &::before {
            content: " ";
            width: 100%;
            height: 100%;
            background: var(--bg-color);
            position: absolute;
            opacity: .2;
            left: 0;
            top: 0;
            z-index: -1;
        }
    }

    .btn1 {
        cursor: pointer;
        background: linear-gradient(20deg, var(--primary), var(--secondary));
        border: none;
        position: relative;
        padding: 10px 40px;
        min-width: max-content;

        box-shadow: inset 0 0 100vw #00000000;
        transition: 200ms;
        
        font-weight: bolder;
        position: relative;
        font-size: 24px;
        color: #fff !important;
    }
    .btn1:hover { box-shadow: inset 0 0 100vw #00000010; }

    a {
        --beforeLeft: 0;
        color: var(--font-color) !important;
        position: relative;
        width: fit-content;
        font-weight: bolder;
    }
    a:not(.btn1, .readmore, .backTop, .some a)::before {
        content: " ";
        position: absolute;
        bottom: 0;
        left: var(--beforeLeft);
        right: 0;
        width: 0%;
        height: 2px;
        background: var(--secondary);
        border-radius: 9em;
        transition: 200ms;
    }
    a:not(.btn1, .readmore, .backTop, .some a):hover::before { width: 100%; }

    .background {
        background-image: url("./img/body-gradient.svg");
        background-size: cover;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        opacity: .60;
    }
}

section {
    position: relative;
    width: 100vw;
    max-width: 1400px;
    padding-inline: 10px;

    display: flex;
    flex-direction: column;
    gap: 70px;

    article {
        padding: 5px 35px 35px;
        position: relative;
        border-radius: 15px;
        overflow: hidden;
    
        > h1 {
            font-size: 80px;
            font-family: var(--bagel) !important;
            letter-spacing: 4px;
            margin: 0;
        }
    }
}

.backTop {
    border-radius: 9em !important;
    box-shadow: 0 0 10px #00000040;
    height: 60px;
    width: 60px;
    background: var(--primary);
    z-index: +5;
    position: fixed;
    right: 35px;
    bottom: 35px;
    transform: translateX(100px);
    cursor: pointer;

    svg {
        width: 100%;
        height: 100%;
        rotate: 180deg;

        path { stroke: #030c04; }
    }

    &:active svg {
        transform: translateY(-10%);
    }
}



#home {
    min-height: 300px;
    height: calc(100vh - 140px);
    padding: 35px;

    .background {
        z-index: 0;
        opacity: .06;
        background-image: none;
    }

    .some {
        position: absolute;
        left: 35px;
        top: 35px;

        display: flex;
        align-items: center;
        gap: 20px;

        img {
            border-radius: 0;
            width: 35px;
            transition: 400ms;

            path {
                fill: #f3fcf4;
                transition: 400ms;
            }
        }
    }
    h1 {
        opacity: 1;
        transform: translateY(0);
        position: absolute;
        bottom: 35px;
        left: 35px;
        margin: 0;
        
        font-size: 120px;
        font-family: var(--bagel);
        letter-spacing: 4px;
        font-weight: 600;
        font-style: normal;
        line-height: 110px;

        span {
            font-family: inherit;
            background: linear-gradient(20deg, var(--primary), var(--secondary));
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
    .readmore {
        height: 200px;
        position: absolute;
        right: 150px;
        bottom: 25px;
        
        span {
            font-size: 26px;
            font-family: monospace;
            font-weight: 100;
            height: 100px;
            position: absolute;
            width: 20px;
            left: 0; top: 0;
            transform-origin: bottom center;
            transition: none;
            color: #fff;
        }

        svg {
            position: absolute;
            top: 50%;
            transform: translate(-35%, -40%);
            width: 80px;
            height: fit-content;

            animation: readmoreArrow 2s infinite;
            animation-play-state: running;

            path {
                stroke: #fff;
            }
        }

        &:active svg { top: 45%; }
        &:hover svg { animation-play-state: paused; }
    }
    .readmoreEng, .readmoreEng span:nth-child(n+31) { display: none; }
}
@keyframes readmoreArrow { 50% { transform: translate(-35%, -60%); } }

#om {
    padding-top: 35px;
    display: flex;
    flex-direction: column;
    row-gap: 70px;

    .desc-container {
        width: 100%;
        display: flex;
        gap: 35px;
        position: relative;

        .desc {
            position: relative;
            overflow: hidden;
            width: 100%;
            padding: 35px;
            text-align: center;
            border: solid .5px var(--bg-color);

            &::before {
                content: " ";
                width: 100%;
                height: 100%;
                background: var(--bg-color);
                position: absolute;
                opacity: .2;
                left: 0;
                top: 0;
                z-index: -1;
            }
            

            h2 {
                font-family: var(--dosis);
                font-size: 75px;
                font-size: bolder;
            }
            h3 {
                font-size: 28px;
                color: var(--light-font-color);
            }
        }
    }

    img[src='/img/me-noBg.png'] {
        transform: rotateY(180deg);
        height: 550px;
        width: auto;
    }
}



.portfolioDesc {
    display: grid;
    grid-template-columns: 24fr 50fr;
    gap: 35px;
    margin-top: 50px !important;

    &::before {
        content: " ";
        position: absolute;
        height: 420px;
        width: 40px;
        left: 0;
        background: linear-gradient(to right, #BEBCDC, transparent);
        z-index: +1;
    }

    .img {
        aspect-ratio: 1;
        position: absolute;
        top: 0%;
        left: 0%;
        background-position: center;
        transition: none;
        z-index: +20;
    }

    img { 
        width: 100%;
    }

    img, div, div * { transition: 400ms; }

    
    div {
        height: fit-content;
        border: solid 2px var(--bg-color);
        padding: 20px;
        overflow: hidden;
        position: relative;
        height: auto;

        .back { display: none !important }
        
        &::before {
            content: " ";
            width: 100%;
            height: 100%;
            background: var(--bg-color);
            position: absolute;
            opacity: .6;
            left: 0; top: 0;
            z-index: -1;
        }

        .relevant { display: none; }
        
        span, a {
            padding: 5px 15px;
            height: fit-content;
            position: relative;
            border-radius: 9em;
            background: var(--font-color);
            color: var(--bg-color) !important;
            transform: translateX(-10px);
            margin-bottom: 35px !important;

            &::before { content: none; }
        }

        p, li {
            font-size: 20px;
            width: 100%;
        }
    }
}

#portfolio .container {
    position: relative;
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 35px;

    .item:nth-child(odd) span {
        background: var(--font-color);
        color: var(--bg-color);
    }
}

#portfolio {
    .container {
        .item {
            cursor: pointer;
            aspect-ratio: 1;
            position: relative;

            padding: 15px;
            display: flex;
            flex-direction: row;
            align-items: end;
            gap: 10px;
            
            .back {
                position: absolute;
                height: 100%;
                aspect-ratio: 1;
                left: 50%; top: 50%;
                transform: translate(-50%, -50%);

                background-position: center;
                background-size: 120%;
            }

            span {
                padding: 5px 15px;
                min-width: max-content;
                position: relative;
                border-radius: 9em;
                background: var(--bg-color);
            }

            a, p, ul { display: none; }

            &:hover > .back { 
                background-size: 105%;
                height: 104%;
            }

            .relevant {
                position: absolute;
                top: 15px;
                width: 70px;
                background: #fff;
                border: solid 2px #fff;
                border-radius: 9em;
            }
        }
    }
}




#resume {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 70px;

    > h2 {
        text-align: center;
        font-size: 50px;
        font-family: var(--dosis);
        font-weight: 700;
        margin-bottom: -40px;
    }


    table {
        tr {
            padding: 40px 0;
            display: block;
            border-radius: 0;
            border-top: solid 1px var(--section-primary);
            border-bottom: solid 1px var(--section-primary);
            column-gap: 40px;

            &:not(:last-child) {
                border-bottom: 0;
            }

            td {
                vertical-align: top;
                font-size: 18px;

                p { color: var(--light-font-color); }
                span, a { color: var(--font-color) !important; }
            }

            td:nth-child(1) {
                min-width: 8vw;
                font-size: 15px;
            }
            td:nth-child(2) {
                min-width: 25vw;
                span { 
                    font-size: 25px; 
                    font-family: var(--bagel);
                    line-height: 0%;
                }
            }

            
        }
    }

    .tools {
        display: flex;
        flex-wrap: wrap;
        gap: 35px;

        > div {
            border: solid .5px var(--bg-color);
            width: 220px;
            height: 140px;
            padding: 40px;
            position: relative;
            overflow: hidden;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 25px;

            &::before {
                content: " ";
                width: 100%;
                height: 100%;
                background: var(--bg-color);
                position: absolute;
                opacity: .2;
                left: 0;
                top: 0;
                z-index: -1;
            }

            svg {
                height: 100%;
            }
            h3 {
                font-size: 30px;
                font-family: var(--bagel);
                font-weight: lighter;
                line-height: 50%;
            }
        }
    }

    .recommendations-btns {
        margin-bottom: 15px;
        display: flex;
        gap: 10px;
        
        > div {
            cursor: pointer;
            background: var(--primary) !important;
            height: 60px;
            width: 60px;
            border-radius: 10px;

            svg {
                width: 100%;
                height: 100%;
                rotate: 90deg;

                path { stroke: #fff }
            }
            &:last-child svg { rotate: -90deg; }
        }
    }
    .recommendations {
        width: 307.5%;
        display: flex;

        .slide {
            width: 100%;
            margin-right: 35px;
            padding: 40px;
            
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
            
            img {
                width: 150px;
                height: 150px;
            }
            img.ai {
                position: absolute;
                opacity: .5;
            }

            > div {
                margin-top: 10px;

                h3 {
                    font-size: 25px;
                    font-family: var(--bagel);
                    font-weight: lighter;
                }
                .title {
                    font-size: 18px;
                    color: var(--light-font-color);

                    a { margin-left: 2px; }
                }

                .stars {
                    margin-top: 10px;
                    display: flex;

                    img {
                        width: 35px;
                        height: auto;
                    }
                }
            }

            > p {
                font-size: 18px;
                color: var(--light-font-color);

                a {
                    display: block;
                    margin-top: 20px;
                }
            }
        }
        .slide:active {
            cursor: grabbing;
        }
    }
}





#hobbies {
    .container {
        position: relative;
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        gap: 70px;

        .item {
            h2 {
                font-size: 50px;
                margin-bottom: 8px;
            }
            h3 {
                font-size: 22px;
                font-weight: 500;
                margin-bottom: 15px;
            }

            p { margin-bottom: 10px; }

            a { font-size: 22px;}
        }
        .song {
            margin: 40px 0;
            text-align: center;

            h2 {
                font-weight: 600;
                margin-bottom: 20px;
            }
        }
    }
}




#contact {
    .grid {
        margin-top: 50px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        color: #c50000;
    }

    .countries {
        position: relative;
        * { transition: 0ms !important; }
    
        #chartdiv {
            width: 100%;
            height: 500px;
            z-index: +3;
            position: relative;
        }
        #chartdiv + img {
            position: absolute;
            width: 60%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    .window {
        z-index: 1;
        display: flex;
        padding: 70px;
        background: var(--section-primary);
        transition: 800ms;

        form {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 10px;
    
            input, textarea {
                padding: 10px 0;
                border-radius: 0;
                font-size: 20px;
                border: none;
                border-bottom: solid 2px hsl(from var(--section-primary) h s calc(l - 15));;
                background: none;
                color: var(--font-color);
            }
            textarea:focus, input:focus{ outline: none; }

            textarea { 
                margin-top: 40px;
                min-height: 80px;
            }

            .submit-container {
                margin-top: 20px;
                display: flex;
                gap: 10px;
            }

        }

    }
}



@media (max-width: 1050px) {
    .desc-container {
        flex-direction: column;

        .desc { width: calc(100% - 70px) !important; }
    }

    .text-image, .image-text { flex-direction: column-reverse !important; gap: 35px; }

    .readmore, .readmoreEng { display: none !important; }

    #portfolio :is(.container, .portfolioDesc) { grid-template-columns: 1fr 1fr; }

    #contact .grid { 
        grid-template-columns: 1fr;
        gap: 35px;

        img { width: 40% !important; }
    }
}

@media (max-width: 730px) {
    #home h1 { 
        font-size: 50px; 
        text-align: center;
        width: calc(100% - 70px) !important;
        line-height: normal !important;
    }

    nav {
        justify-content: center;
        ul { display: none; }
    }

    footer .main {
        flex-direction: column;
        align-items: center;
        gap: 35px;
    }
}